@charset "UTF-8";

body {
	font-family: 'Meiryo UI', 'sans-serif';
}

/* ページタイトル */
p.pagetitle
{
	font-size: 14pt;
	margin: 0 0 20px 20px;
	color: #1e75bb;
	border-bottom: solid 1px #e0e0e0;
}

/* 見出しクラス */
.hlv1, .hlv2, .hlv3, .hlv4, .hlv5, .hlv6, .hlv7, .hlv8, .hlv9
{
	margin: 0 0 0 20px;
}

.heightall
{
	height: 100%;
}

/* 見出し内のタイトルクラス */
.hlv1 > .title,
.hlv2 > .title,
.hlv3 > .title,
.hlv4 > .title,
.hlv5 > .title,
.hlv6 > .title,
.hlv7 > .title,
.hlv8 > .title,
.hlv9 > .title
{
	color: #1e75bb;
	border-bottom: solid 1px #e0e0e0;
}

.hlv1 > .title { font-size: 14pt;  margin: 20px 10px 0px 0px; }
.hlv2 > .title { font-size: 12.5pt;  margin: 20px 10px 0px 0px; }
.hlv3 > .title { font-size: 11pt;  margin: 20px 10px 0px 0px; }
.hlv4 > .title { font-size: 10pt;  margin: 20px 10px 0px 0px; }
.hlv5 > .title { font-size: 10pt;  margin: 20px 10px 0px 0px; }
.hlv6 > .title { font-size: 10pt;  margin: 20px 10px 0px 0px; }
.hlv7 > .title { font-size: 10pt;  margin: 20px 10px 0px 0px; }
.hlv8 > .title { font-size: 10pt;  margin: 20px 10px 0px 0px; }
.hlv9 > .title { font-size: 10pt;  margin: 20px 10px 0px 0px; }

/* 見出し内の文章クラス */
.hlv1 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv2 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv3 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv4 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv5 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv6 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv7 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv8 p { margin: 10px 10px 10px 20px; font-size: 10pt; }
.hlv9 p { margin: 10px 10px 10px 20px; font-size: 10pt; }

/* 真偽値型 見出し内の文章クラス */
.hlv1 > .booltitle ,
.hlv2 > .booltitle ,
.hlv3 > .booltitle ,
.hlv4 > .booltitle ,
.hlv5 > .booltitle ,
.hlv6 > .booltitle ,
.hlv7 > .booltitle ,
.hlv8 > .booltitle ,
.hlv9 > .booltitle 
{
	margin-left: 0px;
}
.hlv1 > .booltitle > .title,
.hlv2 > .booltitle > .title,
.hlv3 > .booltitle > .title,
.hlv4 > .booltitle > .title,
.hlv5 > .booltitle > .title,
.hlv6 > .booltitle > .title,
.hlv7 > .booltitle > .title,
.hlv8 > .booltitle > .title,
.hlv9 > .booltitle > .title
{
	color: #1e75bb;
}

/* リッチテキスト型 見出し内の文章クラス */
.tablecontent > p { margin: 10px 10px 10px 0px; font-size: 10pt; }

/* 見出し内のテーブルクラス */
/* bootstrapでtable-responsiveを使用時には不必要 */
.hlv1 table { margin: 10px 20px 10px 20px; }
.hlv2 table { margin: 10px 20px 10px 20px; }
.hlv3 table { margin: 10px 20px 10px 20px; }
.hlv4 table { margin: 10px 20px 10px 20px; }
.hlv5 table { margin: 10px 20px 10px 20px; }
.hlv6 table { margin: 10px 20px 10px 20px; }
.hlv7 table { margin: 10px 20px 10px 20px; }
.hlv8 table { margin: 10px 20px 10px 20px; }
.hlv9 table { margin: 10px 20px 10px 20px; }

/* タイトル表示位置＝左 見出し内のテーブルクラス */
.hlv1 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv2 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv3 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv4 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv5 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv6 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv7 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv8 .titleLeftTable { margin: 0px 20px 0px 20px; }
.hlv9 .titleLeftTable { margin: 0px 20px 0px 20px; }

/* タイトル表示位置＝左 見出し内のテーブルクラス 罫線非表示 */
.hlv1 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv2 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv3 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv4 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv5 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv6 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv7 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv8 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }
.hlv9 .hideGridLine { border: 0px none; margin: 0px 40px 0px 20px; }

/* タイトル表示位置＝左 見出し内のテーブルクラス 罫線非表示、インデントなし */
.hlv1 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv2 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv3 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv4 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv5 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv6 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv7 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv8 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }
.hlv9 .hideGridLineWithoutIndent { border: 0px none; margin: 0px 40px 0px 0px; }

/* Kendo UIのスタイル設定を上書き */
/* Kendo UIの設定が、content-boxのためTableの幅が揃わない問題の対応 */
.k-animation-container, .k-widget, .k-widget *, .k-animation-container *, .k-widget *:before, .k-animation-container *:after, .k-block .k-header, .k-list-container {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}

/* テーブルクラス */
table
{
	border-collapse: collapse;
	width: 95%;
}

table, th, td
{
	border: 1px solid #dcdcdc;
}

th, td
{
	padding: 4px;
}

td.hideGridLine
{
	padding: 4px 0px;
}

/* 値をタイトルの左側に表示する場合 */
td.leftvalue
{
	width: 45px;
	padding: 0px;
}
/* タイトルを値の右側に表示する場合 */
td.righttitle
{
	color: #1e75bb;
	vertical-align: top;
	padding: 0px;
}

/* グリッド化対応 */
/* 罫線なし */
td.title
{
	color: #1e75bb;
	vertical-align: top;
	width: 250px;
}
/* 罫線あり */
td.titleWithGridLine
{
	vertical-align: top;
	width: 250px;
}
/* セル罫線重複対応 */
.gridhlv + .gridhlv .tableinfo {
	border-top: 0px;
}
/* セルの罫線削除 */
.cellinfo {
	border: 0px none ;
}
/* ２つ目以降のセル罫線(左)表示 */
.cellinfo + .cellinfo {
	border-left: 1px solid #dcdcdc;
}
/* タイトルとグリッド間の隙間 */
.title + .gridhlv {
	margin-top: 10px;
}
/* グループの子要素対応 */
.groupchild {
	margin-left: -20px;
}

thead th
{
	font-weight: normal;
	text-align: left;
}

.columnheader
{
	font-size: 9pt;
	background-color: #f4f4f4;
}

.rowheader
{
	font-size: 9pt;
	background-color: #fafafa;
	text-align: right;
	width: 24px;
}

.tablecontent
{
	font-size: 10pt;
}

.tablecontent-readonly
{
	font-size: 10pt;
	background-color: #fafafa;
}

/* 有効色・無効色 */
.color-enable { color: #000000; }
.color-disable { color: #d3d3d3; }

/* dTree */
.dtree
{
	font-size: 13px;
	font-family: 'Hiragino Kaku Gothic Pro', 'sans-serif';
}

.dtree-pane
{
	margin: 10px 0px 0px 20px;
}

.modelbrowser-title
{
	margin: 0px 0px 0px 0px;
	padding: 3px 0px 2px 20px;
	border-bottom: solid 1px #e0e0e0;
}

.modelbrowser-backcolor
{
	background-color: #f7f7f7;
}

/* 機能バー */
.function-bar
{
	margin: 10px 0px 0px 10px;
}

/* 戻る／進む */
.history
{
	margin: 6px 0px 12px 0px;
}

/* パンくずリスト */
.breadcrumb
{
	font-size: 12px;
	margin: 5px 0px 0px 10px;
	padding: 4px 4px;
}

/* エディタセレクタ */
.viewmodel-group
{
	margin: 6px 20px 15px 0px;
}

/* Splitter */
html, body
{
	margin: 0;
	padding: 0;
	height: 100%;
}
.k-splitbar-vertical
{
	height: 0 !important; /* 横のバーを非表示にする */
}
.k-splitbar-static-vertical
{
	border: none; /* 横のバーを非表示にする */
}
.k-splitter .k-ghost-splitbar  /* バーを移動中の表示色を変える */
{
	background-color: #e3e3e3;
	border: none;
}
#indio-splitter
{
	height: 100%;
	margin:  0 auto;
	overflow: hidden;
	border: none;
	background-color: #007A99;
}
#horizontal
{
	height: 100%;
	margin: 0 auto;
	overflow: hidden;
	border: none;
	background-color: #f7f7f7;
}
#vertical
{
	height: 100%;
	margin:  0 auto;
	overflow: hidden;
	border: none;
}

/* iframe */
.iframe-style
{
	height: 100%;
	width: 100%;
	margin:  0;
	padding: 0;
	overflow: hidden;
	border: none;
	display: block;	/* こいつが無いとスクロールバーが二重に表示されてしまう */
}

/* トップバー */
.top-bar
{
	margin: 14px 10px 0px 20px;
	color: #ffffff;
	display: flex;
}
.top-bar-title
{
	font-family: "Arial";
	font-size: 18px;
}
.top-bar-description
{
	margin-top: 20px;
	margin-left: auto;
	font-size: 9px;
	white-space: nowrap;
}

/* 表紙 */
.content-title
{
	text-align: center;
	font-size: 24pt;
	margin-top: 100px;
}

.content-title-date
{
	text-align: center;
	font-family: "Arial";
	font-size: 12pt;
	margin-top: 350px;
	font-weight: bold;
}

/* ルート */
.root-title
{
	float: left;
	margin-right: 10px;
	font-size: 10pt;
}

.root-description
{
	overflow: hidden;
}

/* モデル参照 */
.model-reference-item
{
	display: inline-block;
	height: 21px;
	line-height: 20px;
	margin: 0px 0px 2px 0px;
	padding: 0px 2px 0px 2px;
}
.model-item-icon
{
	vertical-align: top;
	margin: 2px 2px 0px 0px;
}